.meetdeal-chat-button {
  position: fixed;
  bottom: 10px;
  right: 0;
  cursor: pointer;
  width: 48px;
  height: 48px;
  margin: 16px;
  border-radius: 24px;
  background-color: #385ce8;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

#hook-for-close-widget {
  background-color: #385ce8;
}